<p id="notice"><%= notice %></p>

<h1>Todos</h1>

<ul id="todos">
  <%= render @todos %>
</ul>

<br>

<h3>Add a new todo:</h3>
<%= form_for(@todo, remote: true) do |f| %>
  <%= f.label :task %>
  <%= f.text_area :task %>
  <%= f.submit %>
<% end %>
